# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName sarabatana.com.br
AuthUserFile /home/hb34382/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/hb34382/public_html/_vti_pvt/service.grp

php_value  upload_max_filesize  10M